In [2]:
import pandas as pd
import numpy as np

In [3]:
data_frame = pd.read_csv("Mall_Customers.csv")

In [4]:
data_frame.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [5]:
data_frame.tail(7)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
193         194  Female   38                 113                      91
194         195  Female   47                 120                      16
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

In [6]:
data_frame.columns

Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [7]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [8]:
data_frame.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [9]:
data_frame["Annual Income (k$)"].mean()

np.float64(60.56)

In [10]:
data_frame["Spending Score (1-100)"].max()

99

In [11]:
data_frame.describe().loc["std"].idxmax()

'CustomerID'

In [12]:
data_frame.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [13]:
(data_frame.isnull().sum() / len(data_frame)) * 100

CustomerID                0.0
Gender                    0.0
Age                       0.0
Annual Income (k$)        0.0
Spending Score (1-100)    0.0
dtype: float64

In [14]:
df_dropped = data_frame.dropna()
df_dropped.shape

(200, 5)

In [16]:
data_frame["Spending Score (1-100)"] = data_frame["Spending Score (1-100)"].fillna(
    data_frame["Spending Score (1-100)"].median()
)

In [17]:
data_frame["Annual Income (k$)"] = data_frame["Annual Income (k$)"].fillna(
    data_frame["Annual Income (k$)"].mean()
)

In [18]:
data_frame.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64